@model WhichComputer.Main.ComputerList
@{
    ViewData["Title"] = "Computer Results";
}
<script>
    function getCurrentURL() {
        var x = document.getElementById("URL");
        x.innerHTML = window.location.href;
        x.style.display = "inline";
    }
    function displayLinkCopied() {
        document.getElementById('LinkCopied').style.display = "block";
        var copyText = document.getElementById("URL").innerHTML
        try {
            navigator.clipboard.writeText(copyText);
            console.log('Content copied to clipboard');
        } catch (err) {
            console.error('Failed to copy: ', err);
        }
        setTimeout(() => { document.getElementById('LinkCopied').style.display = "none"; }, 1000);
    }

    var counter = 0;

    document.addEventListener("visibilitychange", function (event) {
        var modalID = "surveyModal";
        if (document.hidden && counter < 1) {
            counter++;
            document.getElementById(modalID).classList.toggle("hidden");
            document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
            document.getElementById(modalID).classList.toggle("flex");
            document.getElementById(modalID + "-backdrop").classList.toggle("flex");

        }
    });

    function closeModal() {
        location.reload();
    }

</script>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div class="flex items-center bg-blue-500 text-white text-sm font-bold px-4 py-3 rounded inline" role="alert" style="display:none" id="LinkCopied">
    <center><p>Link Copied to Clipboard!</p></center>
</div>

<body onload="getCurrentURL()" class="max-w-sm w-full lg:max-w-full lg:flex bg-black">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v16.0" nonce="M8Em6Kyn"></script>
    
    <center>
        <div class="rounded overflow-hidden dark:bg-gray-800 shadow-lg border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
            <div class="px-6 pt-4">
                <div class="font-bold text-xl mb-2" style="color:white">Share Your Results!</div>
                <button class="outline-dotted outline-2 outline-offset-2 text-gray-500 text-base" id="URL" onclick="displayLinkCopied()"></button>
                <div class="font-normal text-sm mb-2 pt-2" style="color:dimgray">Click To Copy!</div>
            </div>
            <center>
                <div class="max-w-sm">
                    <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded-full w-40 py-1.2 px-0.5" data-href="https://WhichComputer.com" data-layout="" data-size="">
                        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2FWhichComputer.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                            Share on FaceBook
                        </a>
                    </div>
                    <div class="py-1" />
                    <a class="twitter-share-button"
                       target="_blank"
                       rel="noopener noreferrer"
                       data-size="large"
                       href="https://twitter.com/intent/tweet?text=Check out my recommendations from WhichComputer! ">
                        Tweet
                    </a>
                </div>
            </center>
        </div>
        
    </center>


    <div class="py-4 m-auto grid grid-cols-3 gap-4 m-4 w-11/12" data-accordion="open" data-inactive-classes="dark:text-emerald-300" data-active-classes="dark:text-white">
        @foreach (var computer in @Model.Computers)
        {
            @await Component.InvokeAsync("ComputerCard", computer)
        }
    </div>

    <div>
        <center><button></button></center>
    </div>

    <!-- Main modal -->
    <div id="surveyModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
        <div class="relative w-full max-w-2xl max-h-full">

            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">

                <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                        Take Our Survey!
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="surveyModal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>

                <div class="p-6 space-y-6">
                    <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                        If you could take less than a minute to take our quick survey, this would help us continue to improve WhichComputer!
                    </p>
                </div>

                <center>
                    <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                        <center><button data-modal-hide="surveyModal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">@Html.ActionLink("Sure Thing!", "Survey", null, new { @class = "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" })</button></center>
                        <center><button data-modal-hide="surveyModal" onclick="closeModal()" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">No Thanks.</button></center>
                    </div>
                </center>
            </div>
        </div>
    </div>

</body>
