@model ErrorResponse
@{
    ViewData["Title"] = "ResultsError";
}

<h1 class="text-danger">Computer Results Error.</h1>
<h2 class="text-danger">An error occurred while processing your request. <br>@Model.Error</h2>

<p>
    The Computer Result Query is invalid.
</p>