@{
    ViewData["Title"] = "Computer";
}

<body class="bg-black">
    <div class="py-4 m-auto absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        @await Component.InvokeAsync("QuestionCard", ViewData["Question"])
    </div>
</body>